ion-slide {
  background-color: white;
  height: 100%;
  max-width: 800px;
}
.swiper-slide {
  display: block;
  background-color: var(--ion-color-primary-bottom);
}
ion-slide > h2{
  color: var(--ion-color-primary-h2);
}
ion-slide > h1{
  color: var(--ion-color-primary-white);
}
ion-slide {
  font-style: italic;
  font-size: 22px;
}
ion-slide > p {
  font-style: italic;
  font-size: 22px;
  border: solid;
  border-color: black;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}
ion-img{
  margin: 1rem;
  height: 250px;
}

