<ion-content>
  <ion-slides pager="true" [options]="slideropt">

    <ion-slide>
      <ion-icon name="alarm-outline"></ion-icon>
      <h1>Biblioteca</h1>
      <h2>Inicio</h2>
      <ion-img src="/assets/img/inicio/slide1.png" alt=""/>
      <p>Ven, conoce nuevos mundos a través de la lectura</p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="alarm-outline"></ion-icon>
      <h1>Biblioteca</h1>
      <h2>Categorías</h2>
      <ion-img src="/assets/img/inicio/slide2.png" alt=""/>
      <p>Conoce las distintas categorías y aventuras que tenemos para ti</p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="alarm-outline"></ion-icon>
      <h1>Biblioteca</h1>
      <h2>Reservas</h2>
      <ion-img src="/assets/img/inicio/slide3.png" alt=""/>
      <p>Reserva tu libro con nosotros para que disfrutes de nuevas aventuras</p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="alarm-outline"></ion-icon>
      <h1>Biblioteca</h1>
      <h2>Nuevos mundos</h2>
      <ion-img src="/assets/img/inicio/slide4.png" alt=""/>
      <p>Conoce nuestras otras historias "Libros", te esperamos</p>
    </ion-slide>

  </ion-slides>
</ion-content>


